<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymleaf.org" >

<head>
    <meta charset="UTF-8" >
    <title>Title</title>
    <style>
        *{
            text-align: center;
        }
        table{
            margin-left: 40%;
        }
        button{
            margin-right: 50px;
            margin-top: 100px;
        }
    </style>
</head>
<body>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            编号
        </th>
        <th>
            姓名
        </th>
        <th>
            电话
        </th>
        <th>
            邮箱
        </th>
        <th>
            住址
        </th>
        <th>
            qq号
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            1
        </td>
        <td th:text="${session.name}">

        </td>
        <td th:text="${session.phoneNum}">

        </td>
        <td th:text="${session.email}">

        </td>
        <td th:text="${session.address}">

        </td>
        <td th:text="${session.qqNum}">

        </td>
        <td>
            <a href="/dodelete">删除此条信息</a>

        </td>
    </tr>


    </tbody>
</table>
<a href="/directory"><button class="btn" type="button">返回</button></a>
</body>
</html>